* {
    font-family: sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
body {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    color: white;
    background-image: url('maxresdefault.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    font-size:60px;
    margin:0;
    margin-top: 60px;
}
h2 {
    font-style:italic;
    font-weight: 500
}
img{
    width:600px;
    border-radius:20px;
}
.center-container{
  height: 200px;
  position: relative;
  border: 3px solid green; 
}
.center-button{
  background-color: orange;
  color:white;
  border:2px solid orange;
  padding: 10px 20px;
  font-size: 16px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor:pointer;
}
.center-button:hover {
    background-color: orange;
    border-color: yellow;
    color: yellow;
}
